{% include 'bold-memberships-salt' %}
<div>
  Test
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
<script>
jQuery(document).ready(function(){
   

  console.log('Testinggggggggggggggggggggggggggggggggggggggggg');
 

});
</script>
{% endjavascript %}
